{% extends "global/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {% include "courses/partials/head.html" %}
{% endblock head %}

{% block content %}
    {% include "global/header.html" %}

    <span class='card'></span>

    <div id="player"></div>

    <span class='exercicies'></span>


    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{% static 'courses/js/youtube-player.js' %}"></script>

    <script src="{% url 'javascript-catalog' %}"></script>
        <script type="module">
            import { inicializeListener } from "{% static 'courses/js/main.js' %}";
            document.addEventListener("DOMContentLoaded", () => {
                inicializeListener();
            });
    </script>
{% endblock content %}
