{% extends "global/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {% include "courses/partials/head.html" %}
{% endblock head %}

{% block content %}
    <header>
        <h1>Testando!!!!</h1>

        <span class='card'></span>
    </header>

    <div class='video'>
        <iframe src="https://www.youtube.com/embed/6Gli-vT4SKI?si=wVIYPe0MWQ79w7iP" title="Learn Rank" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
    </div>

    <script src="{% url 'javascript-catalog' %}"></script>

        <script type="module">
            import { inicializeListener } from "{% static 'courses/js/main.js' %}";
            document.addEventListener("DOMContentLoaded", () => {
                inicializeListener();
            });
    </script>
{% endblock content %}
