<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="" class="sign-up-form">
        <input type="text" name="username" placeholder="Ex: Gabriel Rodrigues">
        <input type="email" name="email" placeholder="Ex: gabrielrodrigues@example.com">
        <input type="password" name="password1" placeholder="Ex 23#$1fsgKDL!">
        <input type="password" name="password2" placeholder="Repeat your password">
        <button type="button" class="login-button">button</button>
    </form>
</body>
</html>