{% extends "authors/base.html" %}
{% load i18n %}


{% block content %}
    <form action="{% url form_action %}" class="author-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% translate "Submit" %}</button>
    </form>

    {% if is_signup %}
        <div class="login-link">
            <p>{% translate "Have an account?" %} <a href="#">{% translate "Click here" %}</a></p>
        </div>
    {% else %}
        <div class="login-link">
            <p>{% translate "Don't you have an account?" %} <a href="#">{% translate "Click here" %}</a></p>
        </div>
    {% endif %}
{% endblock content %}
