:root {
  --color-primary: #016FB9;
  --color-primary-light: #7EC9F5;
  --color-dark: #100F3E;
  --color-light-bg: #F4F7FB;
  --color-white: #ffffff;
  --color-danger: #b71c1c;

  --bg-page: var(--color-light-bg);
  --bg-card: var(--color-dark);
  --bg-input: rgba(255,255,255,0.15);

  --text-default: var(--color-white);

  --border-default: rgba(255,255,255,0.15);

  --button-primary: var(--color-primary);
  --button-primary-hover: #015a96;

  --font-card-size: 1.2em
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg-page);
  flex-direction: column;
}

.author-form {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-card);
  border: 1px solid var(--border-default);
  color: var(--text-default);
  gap: 25px;
  padding: 30px 40px 0px 40px;
  border-radius: 0 10px 10px 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.527);
}

.author-form label {
  color: var(--text-default);
  font-size: var(--font-card-size);
}

.author-form input {
  background-color: var(--bg-input);
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  margin-top: 5px;
}

.author-form button {
  background-color: var(--button-primary);
  border-radius: 10px;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

.author-form button:hover {
  background-color: var(--button-primary-hover);
}

.author-link {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

/* .error-span {
  width: 100%;
  color: var(--color-danger);
  font-size: 0.9rem;
  overflow-wrap: break-word;
} */

/* .messages {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
}

.alert {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
}

.alert-success {
  background-color: #c8e6c9;
  color: #256029;
}

.alert-error,
.alert-danger {
  background-color: #ffcdd2;
  color: #b71c1c;
} */